<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLBHConnectionString" connectionString="Data Source=DESKTOP-G3PG01C\NHATNGUYEN;Initial Catalog=QLBH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLBHConnectionString1" connectionString="Data Source=ARINAHASHIMOTO\SQLEXPRESS;Initial Catalog=QLBH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLBHConnectionStringMinh"
            connectionString="Data Source=DESKTOP-KRH26DK\MINH;Initial Catalog=QLBH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>